*{
    margin: 0;
    pad: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90vh;
    text-align: center;
    background-color: #05668D;
}

h1 {
    margin: 15px 30px;
    color: #eff0d4;
}

h2{
    display: inline;
    color: #eff0d4;
    margin-bottom: 15px;
    margin: 15px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-container{
    display: flex;
    /* display: inline-block; */
    width: 99%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
}

.level-nav{
    font-weight: bold;
    display: flex;
    list-style: none;
    margin:  15px 0px;
    padding: 0;
    background-color: #028090;
}

li{
    color: #f9fadf;
    width: 110px;
    padding: 15px;
    font-size: 15px;
}

li:hover{
    background-color: #00A896;
}

li:active{
    font-size: 13px;
}

.active{
    background-color: #02C39A;
}

table {
    display: inline-block;
    justify-self: center;
}

td{
    background-color: #028090;
    color: #F1FAEE;
    border: solid 1px #00A896;
    height: 22px;
    width: 22px;
    /* transition: .5s; */
}

.clicked{
    background-color: #05668D;
}

.footer{
    bottom: 0;
    color: #eff0d4;
}

.elements {
    display: inline;
}