@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

@media only screen and (max-width: 700px) {
    html{
        font-size: 0.7rem;
    }
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
    height: 100%;
    text-align: center;
    background-color: #05668D;
}

h1 {
    margin: 1rem 2rem;
    color: #eff0d4;
}

h2 {
    display: inline;
    color: #eff0d4;
    /* height: 47px; */
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-container {
    display: flex;
    height: 28rem;
    align-items: center;
    justify-content: center;
}

.level-nav {
    font-weight: bold;
    display: flex;
    list-style: none;
    margin: 1rem 0px;
    padding: 0;
    background-color: #028090;
    border-radius: 8px;
}

li {
    color: #f9fadf;
    width: 7rem;
    padding: 1rem;
    font-size: 1rem;
    transition: background-color .3s;
}

li:hover {
    background-color: #00A896;
}

li:hover.beginner {
    border-radius: 8px 0px 0px 8px;
}

li:hover.expert {
    border-radius: 0px 8px 8px 0px;
}

li:active {
    font-size: .8rem;
}

.active {
    background-color: #02C39A;
}

.active.beginner {
    border-radius: 8px 0px 0px 8px;
}

.active.expert {
    border-radius: 0px 8px 8px 0px;
}

table {
    display: inline-block;
    justify-self: center;
}

.cell {
    background-color: #028090;
    color: #F1FAEE;
    border: solid 1px #00A896;
    height: 1.6rem;
    width: 1.6rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.clicked {
    background-color: #05668D;
}

.footer {
    bottom: 0;
    color: #eff0d4;
}

.elements {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 3fr 3fr;
}

.smile {
    height: 1.7em;
    width: 1.7em;
    font-size: 1.3em;
    padding: 0;
    margin: auto;
    border: solid 1px #00A896;
    background-color: #028090;
    cursor: pointer;
}

.smile:hover {
    font-size: 1.2rem;
}

.lives {
    display: inline-block;
    width: 7.125em;
    height: 2.5em;
}

.footer {
    display: block;
    text-shadow: 1px 2px 1px #222222;
    /* margin-top: 2.5rem; */
    font-weight: 25rem;
}

.more-container {
    /* margin-top: auto; */
    background-color: #02809046;
    min-width: 1rem;
    width: 26em;
    height: 80%;
    padding: 2rem;
    border: .1px solid #02c39933;
    border-radius: 22px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    overflow: hidden;
}

.time {
    margin-left: 1em;
    display: block;
    margin: 2px 0 0 0;
}

.timer {
    display: inline;
    width: 30%;
    margin: 0;
}